<div class="section no-pad-bot" id="index-banner">
<div class="container">
  <h1 class="header center orange-text">My Activities</h1>
  <div class="row center">
    <h5 class="header col s12 light">Activities</h5>
  </div>
  </div>
  <div class="row center">
  <% @activities.each do |activity|%>
    <ul>
     <li><h2><%=activity.name%></h2></li>
    </ul>
    <%activity.activity_logs.each do |log|%>
      <ul>
        <li><%=log.duration%></li>
        <li><%=log.created_at%></li>
        <li><%=link_to "New Log", new_activity_activity_log_path(activity)%></li>
        <li><%= link_to "Edit  Log", edit_activity_log_path(log)%></li>
        <li><%= link_to "Delete Log", activity_log_path(log), method: :delete %></li>

      </ul>
    <%end%>
    </ul>
<% end %>
<div class="row center">
  <%= link_to "Try New Activity", new_activity_log_path, :id => "download-button", :class => "btn-large waves-effect waves-light orange" %>
  <br><br>
</div>
</div>




