<!DOCTYPE html>
<html>
  <head>
    <title>BrainTrain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">BrainTrain</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <!-- static links-->
    <li><%= link_to "Home", root_path %></li> 
   <!--logged in and logged out -->
   <% unless logged_in? %>
    <li><%=link_to "Login", login_path%></li>
    <li><%=link_to "Signup", signup_path%></li>
   <% else%>
    <li><%=link_to "Brainwave Types", brainwaves_path %></li>
    <li><%=link_to "My Logs", activity_logs_path%></li> 
    <li><%=link_to "My Activities", users_path%></li> 
    <li><%=link_to "Logout", logout_path, method: "delete"%></li>
   <% end %>
    </ul>
  </div>
</nav>
  
    <%= yield %>
    
  </body>
</html>
)